//
//     / \__
//    (    @\__ 
//    /         O
//   /   (_____/
//  /_____/   U
//                       github.com/tagirov/HuskyOS
///////////////////////////////////////////////////

configuration {

  modi:  "run";
  font:  "ClearSansMedium 11";
	
}

@theme "slate_mod"
